<div class="form_elemnt">
  <div class="form-content">
          <%= form_with(model: micropost, local: true) do |form| %>
        <% if micropost.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>
      
            <ul>
              <% micropost.errors.full_messages.each do |message| %>
                <li class="message_list"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          
          <!--テキストグラフィカリー-->
              <div class="main">
          			  <div class="text">What is Covid to you?</div>		
           			  <div class="shadow">
          				    <div  class="viewport">
          					      <div class="text">What is Covid to you?</div>
          				    </div>
             			</div>
    		　　　</div>
          <%= form.text_area :content, class: "label_area" %>
        </div>
      
        <div class="actions">
          <%= form.submit 'Send', class: "subimit_btn"%>
        </div>
      <% end %>
  </div>
  
</div>

